@import "materialize";
@import "material_icons";

@import "cards";
@import "home";
@import "calendar";
@import "shared/footer";
  
html, body {
    background-image: url('office_wallpaper.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.black_wallpaper {
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 113%;
    position: absolute;
    top: 0;
}

.btn {
    input {
        color: white;
    }
}

.m-top {
    margin-top: 30px;
}